<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hello, World</title>
</head>
<body>
{% load static %}

<h1>Hello, World</h1>
You are now reading a very simple django template page.<br/>
The present time and date is: {% now "DATETIME_FORMAT" %}<br/>

<p>
    You can use the <a href="{% url 'admin:index' %}"> django admin</a> if you want.
</p>

<p>
   This pretty picture shows a wintry morning (and that STATIC files work.)<br/>
    <img src="{% get_static_prefix %}test.jpg" />
    <br/>
<small>Window, upstairs dining room - Wagon Box Inn; Storey, Wyoming, USA </small>
<p/>
<p>
    When you drive in weather like that, icicles can form stars. (this is a MEDIA file.)<br/>
    <img src="{% get_media_prefix %}test.jpg" />
    <br/>
    <small>Detail: front wheel of pickup. 2009:04:04. Storey, Wyoming, USA</small>
</p>
</body>
</html>
